/*.pager li.page.active a { background: #1f1f1f; color: #fff; border-color: #1f1f1f; }*/
.product_detail_price span { padding-right: 6px;}
.percent_50 { width: 50%; }
.pro-video { padding-top : 0;}
